.Home {
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: center;
  flex-wrap: nowrap;
  .home-header {
    margin-top: 15px;
  }
  .map {
  }
  .zLocs {
    .zLocSpinner {
      width: 8rem; 
      height: 8rem
    }
  }
}